.todo-list ul {
    padding-left: 0.5em;
    list-style: none;
}

.footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.floating-counter {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #f8f9fa;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
