@keyframes show-render {
    0% {
        background-color: rgba(255, 0, 0, 0.5);
    }
    100% {
        background-color: rgba(255, 0, 0, 0);
    }
}

body.renderDebug * {
    /* outline: 2px solid red; */
    animation-duration: 0.6s;
    animation-name: show-render;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
